@use './header.scss' as header;
@use './footer.scss' as footer;

* {
    margin: 0px;
    padding: 0px;
    font-family: Ubuntu;
}

@include header.header();
@include footer.footer();

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;

    .imagen {
        display: flex;
        justify-content: space-between;
        width: 40%;
        background-color: #f3f3f7;
        padding: 10px;
        padding-top: 50px;

        .galeria {
            width: 100px;
            flex-flow: column;

            button {
                border: 1px solid black;
                margin-bottom: 10px;
                width: 90px;
                height: 90px;
                border-radius: 5px;
            }

            img {
                width: 100%;
                height: 100%;
                background-color: white;
                cursor: pointer;
                border-radius: 5px;
            }
        }

        img {
            float: right;
            width: 90%;
            aspect-ratio: 1 / 1;
        }
    }
    
    .informacion {
        width: 40%;
        padding: 40px;
        padding-top: 50px;

        div {
            margin-bottom: 20px;
        }

        .categoria {
            h4 {
                font-size: 20px;
                font-weight: normal;
            }
        }

        .nombre {
            h2 {
                font-size: 40px;
            }
        }

        .precio {
            font-size: 20px;
        }

        .agregarCarrito {

            button {
                width: 300px;
                border-radius: 10px;
                font-size: 20px;
                font-weight: bold;
                padding: 10px;
                cursor: pointer;
                border: 0px;
                background: black;
                color: white;
                border: 2px solid black;
                transition: 0.5s background,color;
            }
        }

        .agregarCarrito {

            button:hover {
                background: white;
                color: black;
            }
        }
        
            
    }
}