.container{
    background-color: lightblue;
}

#cantPalabras, #listaPalabras{
    color: red;
}

.alert{
    height: 20px;
    padding: 0px;
    font-size: 12px;

}

#alertaCorrecta{
    display: none;
}

#alertaIncorrecta{
    display: none;
}