.container{
    margin: 50px auto;
    display: flex;
    align-items: center;
    flex-flow: column;
    height: 400px;
    width: 400px;
    background-color: lightgoldenrodyellow;
    padding: 10px;
}

.container div{
    margin-bottom: 20px;
} 

.resultado{
    display: none;
    text-align: center;
    background-color: lightblue;
    height: 300px;
    width: 100%;
    padding-top: 20px;
}

.parrafo{
    display: inline;
}

#cantPalabras, #listaPalabras{
    color: red;
}