@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
  font-family: Ubuntu;
}

.header {
  text-align: center;
  background-color: black;
}
.header .miniCabecera {
  height: 20px;
  background-color: gray;
  color: white;
  padding: 5px;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .cabecera {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
}
.header .cabecera .logo {
  height: 100%;
  display: flex;
  align-items: center;
  min-width: 300px;
  max-width: 20%;
}
.header .cabecera .logo a {
  height: 100%;
  width: 100%;
}
.header .cabecera .logo a img {
  height: 100%;
  width: 100%;
}
.header .cabecera .buscador {
  height: 100%;
  width: 20%;
  min-width: 200px;
  display: flex;
  align-items: center;
}
.header .cabecera .buscador .form {
  display: flex;
  justify-content: space-around;
  height: 50%;
  width: 100%;
}
.header .cabecera .buscador .form input {
  height: 100%;
  border: 0px;
  padding: 0px 10px;
  width: 100%;
  border-radius: 5px 0px 0px 5px;
  font-weight: 400;
  font-size: 16px;
}
.header .cabecera .buscador .form input:focus-visible {
  outline: 0px;
}
.header .cabecera .buscador .form button {
  border-radius: 0px 5px 5px 0px;
  height: 100%;
  border: 0px;
  padding: 10px;
  cursor: pointer;
  background-color: darkgray;
}
.header .cabecera .iconos {
  display: flex;
  justify-content: space-evenly;
  width: 10%;
  color: white;
}
.header .menu {
  height: 50px;
  display: flex;
  align-items: center;
}
.header .menu > ul {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
.header .menu > ul > li {
  display: inline;
  position: relative;
}
.header .menu > ul > li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 18px;
}
.header .menu > ul > li a:hover {
  color: #CCC;
}
.header .menu > ul > li ul {
  display: none;
  position: absolute;
  background-color: rgb(51, 51, 51);
  list-style: none;
  width: 200px;
  z-index: 10;
  /* items del menu desplegable */
}
.header .menu > ul > li ul li {
  display: inline;
  /* enlaces de los items del menu desplegable */
}
.header .menu > ul > li ul li a {
  font-size: 16px;
  padding: 8px 10px;
  display: block;
}
.header .menu > ul > li ul li:hover {
  background-color: blue;
}
.header .menu > ul li:hover > ul {
  display: flex;
  flex-flow: column;
}

.footer {
  height: 200px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  padding: 20px 0px;
}
.footer .col {
  width: 25%;
  background-color: gray;
  color: white;
  padding: 10px;
}
.footer .col h2 {
  text-align: center;
}
.footer .col .redesSociales {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}
.footer .col .redesSociales a {
  color: white;
  text-decoration: none;
}
.footer .col .redesSociales a:hover {
  color: #CCC;
}
.footer .col .categorias {
  margin-top: 20px;
}
.footer .col .categorias ul {
  list-style: none;
  text-align: center;
}
.footer .col .categorias ul li {
  margin: 5px 0px;
}
.footer .col .categorias ul li a {
  color: white;
  text-decoration: none;
}
.footer .col .categorias ul li a:hover {
  color: #CCC;
}
.footer .col .buscador {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.footer .col .buscador .form {
  display: flex;
  justify-content: space-around;
  width: 75%;
}
.footer .col .buscador .form input {
  border: 0px;
  padding: 0px 10px;
  width: 100%;
  border-radius: 5px 0px 0px 5px;
  font-weight: 400;
  font-size: 16px;
}
.footer .col .buscador .form input:focus-visible {
  outline: 0px;
}
.footer .col .buscador .form button {
  border-radius: 0px 5px 5px 0px;
  height: 100%;
  border: 0px;
  padding: 10px;
  cursor: pointer;
  background-color: darkgray;
}

main {
  display: flex;
}
main .filtrosOrdenacion {
  width: 25%;
  background-color: lightblue;
  padding: 20px;
}
main .filtrosOrdenacion .filtros {
  margin-top: 20px;
}
main .filtrosOrdenacion .filtros > div {
  margin-top: 10px;
}
main .filtrosOrdenacion .filtros .formCategorias input {
  display: inline;
  margin-top: 5px;
}
main .container {
  width: 75%;
  background-color: lightgreen;
  padding: 20px;
}
main .container .informacion {
  display: flex;
  justify-content: space-between;
}
main .container .productos {
  margin-top: 20px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
main .container .productos .cartas {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  position: relative;
  height: fit-content;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 16px;
}
main .container .productos .cartas .carta {
  height: 300px;
  background-color: white;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}
main .container .productos .cartas .carta .nombre {
  font-weight: bold;
  padding: 10px;
}
main .container .productos .cartas .carta .precio {
  padding: 10px;
}
main .container .productos .cartas .carta .imagenes {
  height: 150px;
  position: relative;
  display: flex;
  justify-content: center;
}
main .container .productos .cartas .carta .imagenes img {
  position: absolute;
  height: 100%;
  max-width: 100%;
}
main .container .productos .cartas .carta .imagenes .funko {
  opacity: 1;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(0px) scale(1);
  filter: blur(0px);
}
main .container .productos .cartas .carta .imagenes .caja {
  opacity: 0;
  transition: all 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(15px) scale(1);
  filter: blur(12px);
}
main .container .productos .cartas .carta .imagenes:hover .caja {
  opacity: 1;
  transform: translateY(0) scale(1);
  filter: blur(0);
}
main .container .productos .cartas .carta .imagenes:hover .funko {
  opacity: 0;
  transform: translateY(15px) scale(1);
  filter: blur(12px);
}
main .container .productos .cartas .carta .añadirCarrito {
  width: 100%;
  border-radius: 10px;
  border: 0px;
  padding: 5px;
}
main .container .productos .paginacion {
  display: flex;
  flex-flow: row;
  justify-content: space-evenly;
  margin-top: 20px;
  font-size: 20px;
  width: 30%;
}
main .container .productos .paginacion div {
  text-align: center;
}
main .container .productos .paginacion div a {
  display: block;
  width: 100%;
  height: 100%;
  padding: 8px;
  background-color: lightcoral;
  border-radius: 5px;
  width: 20px;
  height: 20px;
  text-decoration: none;
  color: black;
}
main .container .productos .paginacion div .actual {
  background-color: red;
  color: white;
}
main .container .productos .paginacion div:hover {
  font-weight: bold;
  font-size: 20px;
}

/*# sourceMappingURL=productos.css.map */
